{% extends 'base.html' %}

{% block title %}
    Login_page
{% endblock %}

{% block content %}
    <div class="container text-white mx-auto pt-5" style="width: 700px;">
    <form action="" method="post">
            <label for="name" class="form-label my-2">Имя пользователя</label>
            <input type="text" class="form-control" name= "username" id="name" placeholder="Имя пользователя">
            <label for="password" class="form-label my-2">Пароль</label>
            <input type="password" class="form-control" name= "password" id="password" placeholder="Пароль">
        <div class="d-grid gap-2 my-4">
            <button type="submit" class="btn btn-dark" value="Submit">Войти</button>
        </div>
        <br>
        <div class="checkbox mb-3">
            <h6>У вас нет аккаунта?</h6>
            <a class="btn btn-md btn btn-dark" href="{{ url_for('register') }}">Зарегистрироваться</a>
        </div>
    </form>
    </div>
{% endblock %}


